body {background-color: rgb(125, 209, 125);}
h1 {font-size: 300%;font-style: oblique;margin-left: 38%;color: darkgoldenrod;}
h2 {margin-left: 32%;color: rgb(2, 61, 0);}
#ima1 {margin-left: 34%;width: 28%;}
h3 {margin-left: 07%;color: darkgoldenrod;}
h4 {margin-left: 30%;color: rgb(2, 61, 0);}
#ima2 {margin-left: 34%; width: 28%;}
h5 {margin-left: 43%;color: rgb(30, 56, 4)}
h6 {margin-left: 42%;}